<%if(overallPoints){ %> 
    <h1>
        Your test report is out, you scored a total of <%=totalPoints  %> out of <%=overallPoints  %>  
</h1>
<% }else{ %> 
    <h1>
       No test taken yet
</h1>
<% } %> 
