<%- include('../partials/header2') %>
<div class="container " style=" text-align:center;  position:absolute; top:20%; left:10%;">
    <%if(overallPoints){ %> 
        <h1>
            Your test report is out, you scored a total of <%=totalPoints  %> out of <%=overallPoints  %>  
    </h1>
    <% }else{ %> 
        <h1>
           No test taken yet
    </h1>
    <% } %> 
</div>

<%- include('../partials/footer2') %>
